.doc {
    display: flex;
    height: 720px;  
}
.main {
    flex : 1;
    height: 100%;
}

.nav {
    width: 70px;
    background: linear-gradient(#ee7055,#fd5272);
    height: 100%;
    box-shadow: 0px 0px 5px 5px #dadada;
    
    
    
}
.logobackground {
    background-color: #ffffff;
    height: 70px;
    box-shadow: -5px 0px 5px 1px  #acacac;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navcontent{
    display:block;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
    
}
.navicon{
    margin-top: 20px;
    
}
.navlabel{
    margin: 10px;
    font-size: 10pt;
    color:white;
}
body {
    margin : 0;
}
